<!-- begin pagination -->
<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

      <div class="pagination__list">
        {% capture prev_text %}<ion-icon name="arrow-back"></ion-icon> 上一頁{% endcapture %}
        <a data-pagebreak-control="prev" href="." class="pagination__prev">{{prev_text}}</a>
        <span data-pagebreak-control="!prev" class="pagination__prev disabled">{{prev_text}}</span>

        <div class="pagination__count">
          第 <span data-pagebreak-label="current">1</span>
          / <span data-pagebreak-label="total">1</span> 頁
        </div>

        {% capture next_text %}下一頁 <ion-icon name="arrow-forward"></ion-icon>{% endcapture %}
        <a data-pagebreak-control="next" href="." class="pagination__next">{{next_text}}</a>
        <span data-pagebreak-control="!next" class="pagination__next disabled">{{next_text}}</span>
      </div>

    </div>
  </div>
</nav>
<!-- end pagination -->
