---
layout: default
---
{% include hero.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
				<h4 class="lates-title">近期文章</h4>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% else %}
		<div class="col col-12 article">
			<h5 class="article-without-post">目前尚無任何文章！</h5>
		</div>
	{% endif %}
	</div>
</div>
{% if site.posts.size > 0 %}
	{% include pagination.html %}
{% endif %}