/* Color Scheme */
$primary-color: #649665; // #1495a7;
$secondary-color: #4D5139; // #003687;
$white: #FFF;
$dark: #110E38;
$gray: #D9D9D9;
$light-gray: #F5F5F5;
// $blue-gray: #d5dce3;
$green-gray: #BAC3B1;

$background-color: #FAFCF8;
$background-color-alt: $white;

$text-color: $dark;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$tag-background-color: lighten($green-gray, 20%);

$border-color: $green-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

// $syntax-highlighting-background: #f3f3f3;