// --- Utilities ---

body
  for num in (1..100)
    .w-{num}
      width: percentage(num / 100)

// --- Typography ---
.text-center
  text-align: center


// --- Images ---
img
  &.left
    float: left
    margin: 0.75rem 1rem 1rem 0
  &.right
    float: right
    margin: 0.75rem 0 1rem 1rem

