---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row post-box">
      <div class="col">
        <span class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post__info">
          <div class="post__author">
            <span>By</span>
            <a href="{{ site.baseurl }}/about/" class="author-name">{{site.data.settings.author.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign no-image = nil %}
  {% if page.image %}
    <div class="post__head">
      <div class="post-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
    </div>
  {% else %}
    {% assign no-image = 'post-no-image' %}
  {% endif %}

  </div>


  <div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="markdown-body post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div class="post__content">
        {{ content }}
      </div>

      <div class="post__related-posts">
        {% assign firstTag = page.tags | first %}
        {% assign relatedCount = 0 %}
        {% for related in site.tags[firstTag] %}

        {% unless page.permalink == related.permalink %}
          {% assign relatedCount = relatedCount | plus: 1 %}
          <a href="{{ site.baseurl }}{{ related.permalink }}">{{ related.title }}</a><br>
          {% endunless %}
            
          {% if relatedCount == 4 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      {% if page.tags.size >= 1 %}
        <div class="post__tags">
          {% assign sortedTags = page.tags | sort %}
          {% for tag in sortedTags %}
            <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post__tags-tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}

      <div class="post__share">
        <span class="share__title">立刻分享好文章&#10145;</span>
        <ul class="share__list list-reset">
          <li class="share__item">
            <a class="share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享至 Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
          </li>

          <li class="share__item">
            <a class="share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享至 Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
          </li>

          <li class="share__item">
            <a class="share__linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
              title="分享至 LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
          </li>

          <li class="share__item">
            <a class="share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}/images/{{ page.image }}&amp;description={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
              title="分享至 Pinterest" rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
          </li>
        </ul>
      </div>

      <div class="post__applause">
        <applause-button style="width: 58px; height: 58px;" url="{{ site.baseurl }}{{page.url}}">
      </div>
      
      <div class="post__buy-me-a-coffee">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="curihaosity" data-color="#FFDD00" data-emoji="☕"  data-font="Comic" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
      </div>

      {% if site.data.settings.liker_id %}
        <iframe
        style="width: 100%; max-width: 485px; height: 240px; margin: auto; overflow: hidden; display: block; border: none;"
        src="https://button.like.co/in/embed/{{site.data.settings.liker_id}}/button?referrer={{ page.url | absolute_url | cgi_escape }}">
        </iframe>
        {% endif %}
    </article>
    <!-- end post -->
    </div>
  </div>

  <div class="container">
  <div class="post__navigation">
    <div class="prev">
      {% if page.previous.url %}
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></a>
      <h2 class="post__nav__title">
        <i class="ion ion-md-arrow-back"></i>
        <a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
      </h2>
      <p class="prev__excerpt">
        {% if page.previous.description %}
          {{ page.previous.description }}
        {% else %}
          {{ page.previous.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
      {% endif %}
    </div>

    <div class="next">
      {% if page.next.url %}
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
      </a>
      <h2 class="post__nav__title">
        <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="ion ion-md-arrow-forward"></i>
      </h2>
      <p class="next__excerpt">
        {% if page.next.description %}
          {{ page.next.description }}
        {% else %}
          {{ page.next.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>

  {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
  </div>
